@import '../../mixins.scss';

.hit-location-input {

  input {
    &.legs {
      background-image: url('../../svgs/foot.svg');
    }

    &.arms {
      background-image: url('../../svgs/hand.svg');
    }

    &.head {
      background-image: url('../../svgs/head.svg');
    }

    &.waist {
      background-image: url('../../svgs/waist.svg');
    }

    &.body {
      background-image: url('../../svgs/body.svg');
    }
  }
}