@import '../../mixins.scss';

.survivor-summary {
  @include font-monospace;
  border: solid 1px $grey-2;
  color: $grey-2;
  margin: 20px auto;
  width: 400px;

  .status {
    background-color: $grey-2;
    color: $black;
    font-size: 12px;
    padding: 2px;
  }

  &.active {
    border-color: $white;
    color: $white;

    .status {
      background-color: $white;
      color: $grey-2;
    }

    .button:hover {
      border-color: $grey-2;
    }
  }

  .info-wrapper {
    display: flex;
    flex-direction: row;
    padding: 5px;
    position: relative;
  }

  .name {
    width: 100px;
  }

  .health {
    font-size: 12px;
    width: 100px;
  }

  .actions {
    position: absolute;
    right: 5px;
    
    .button + .button {
      margin-right: 2px;
    }
  }
}