@import './mixins.scss';

html, body, #root, .App {
  height: 100%;
}

body {
  @include font-text;
  background-color: $black;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-title {
  @include font-monospace;
  color: $grey-1;
  font-size: 60px;

  &::before {
    content: 'XXX';
    margin-right: 5px;
  }
}

a {
  text-decoration: none;
}

